.button, .color_button {
  color: black;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 15px 32px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 0 auto;
    border: 2px solid black;
    visibility: hidden;
  }

.square {
    width: 0px;
    height: 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
  }